@tailwind utilities;
@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

.navitem {
	display: flex;
	align-items: center;
	cursor: pointer;
	border-radius: 5px;
	padding: 0 4px;
}
.navitem:hover {
	background-color: #2396e2;
}

button {
	cursor: pointer;
	padding: 2px 6px;
	margin: 2px 4px;
	border: solid 1px #ccc;
	border-radius: 4px;
	background-color: white;
	transition: all 0.2s;
}

button.large {
	padding: 8px 16px;
	font-weight: 500;
}

button.primary {
	color: white;
	background-color: #2b7fff;
}

button.primaryt:hover {
	background-color: #1447e6;
}

button.primary.green {
	color: white;
	background-color: #27d335;
}

button.primaryt.green:hover {
	background-color: #219c2c;
}

button.alert {
	color: #c10007;
	background-color: #ffe2e2;
}

button.alert:hover {
	background-color: oklch(88.5% 0.062 18.334);
}

button:hover {
	background-color: #e6e6e6;
}

button.disabled {
	cursor: default;
	color: gray;
	background-color: #ccc;
}

button.disabled:hover {
	background-color: #ccc;
}

.company-menu-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: -webkit-fill-available;
	padding: 4px 4px 0 4px;
	margin: 4px 4px 0 4px;
	font-size: 12px;
	cursor: pointer;
	max-width: 120px;
	transition: all 0.1s;
	flex: 1 1 80px;
}

.company-menu-item.disabled {
	color: gray;
	cursor: default;
}
.company-menu-item:hover {
	background-color: #dcf1ff;
}
.company-menu-item.selected {
	background-color: #ffffff;
}

.company-menu-item img {
	height: 30px;
	width: fit-content;
	margin-bottom: 4px;
}

.ticket-menu-item {
	cursor: pointer;
	background-color: white;
	margin: 2px 0;
	padding: 4px 32px;
	border-radius: 4px;
	transition: all 0.1s;
	flex: 1 1 150px;
	max-width: max-content;
}
.ticket-menu-item.disabled {
	color: rgb(185, 185, 185);
	cursor: default;
}
.ticket-menu-item:hover {
	background-color: rgb(226, 226, 226);
}
.ticket-menu-item.selected {
	background-color: rgb(216, 216, 216);
}

.mobile-company-select-button {
	background-color: #007fd4 !important;
	padding: 4px 4px;
	box-sizing: border-box !important;
	font-size: 12px;
}

/* ticket editor */
input {
	border: solid 1px rgb(109, 109, 109);
	margin: 1px;
	border-radius: 2px;
	padding: 0 2px;
}

textarea {
	border: solid 1px rgb(109, 109, 109);
	margin: 1px;
	border-radius: 2px;
}

.ticket-form-label {
	box-sizing: content-box;
	width: 100%;
	display: grid;

	grid-template-columns: 35% 65%;
}
