.menu-input {
	width: 100%;
	padding: 2px;
	box-sizing: border-box;
	border-color: rgb(132, 132, 132);
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	transition: all 0.3s ease;
	background-color: #fdfdfd;
}

.menu-input:focus {
	outline: none;
	background-color: #ffffff;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.horizonal-list {
}

.horizonal-end {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20px;
	color: #6b7280; /* text-gray-500 */
	font-size: 14px;
	padding: 0 12px;
}
